/* reset CSS */
html {
  font-size: 16px;
  font-family: 'Montserrat';
  overflow-x: hidden;
}

@media only screen and (max-width: 1366px) {
  body {
    overflow-x: hidden;
  }
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  html {
    font-size: 10px;
  }
}

*, *:before, *:after {
  scroll-behavior: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/* Paleta de cores */

:root {
  --yellow: #FCA628;
  --orange: #F44A22;
  --brown: #1D1D1B;
  --black: #111111;
  --white: white;
  --gray: #838383;
  --dark-gray: #3F3F3F;
  --light-gray: #6f6f6f;
  --yellow-shadow: #fca72836;
}